.wrapper {
  background-color: #eef7ff;
}

.title,
.link {
  color: #4d869c;
  margin: 0;
}

.products {
  height: calc(100vh - 86px);
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 24px;
}

.button {
  align-self: flex-start;
  background-color: #4d869c;
  color: #eef7ff;
  padding: 8px;
}
