<div class="wrapper">
  <div class="register">
    <h1 class="title">Register</h1>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="item">
        <label class="label" for="email">Email: </label>
        <input id="email" type="email" formControlName="email" required />
        <small
          class="error"
          *ngIf="
            (registerForm!.get('email')!.touched || isSubmitted) &&
            registerForm.hasError('email')
          "
        >
          {{ registerForm.getError("email") }}</small
        >
      </div>

      <div class="item">
        <label class="label" for="password">Password: </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          required
        />
        <small
          class="error"
          *ngIf="
            (registerForm!.get('password')!.touched || isSubmitted) &&
            registerForm.hasError('password')
          "
          [innerHTML]="registerForm.getError('password') | newLine"
        >
        </small>
      </div>

      <button class="button" type="submit">Register</button>
    </form>
    <a class="link" routerLink="/login">Already registered? Log in here</a>
  </div>
</div>
