<header class="header">
  <div class="items">
    <h1 class="title">Angular Store</h1>
    <nav class="nav">
      <ul class="list">
        <li *ngIf="user()" class="list-el">
          <a
            class="link"
            routerLink="/products"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ "Products" | uppercase }}</a
          >
        </li>
        <li *ngIf="user()?.isAdmin" class="list-el">
          <a
            class="link"
            routerLink="/admins"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ "Admins" | uppercase }}</a
          >
        </li>
      </ul>
    </nav>
    <button class="button" *ngIf="user()" (click)="signOut()">Sign out</button>
  </div>
</header>
<router-outlet />
