<div class="wrapper" *ngIf="product()">
  <div class="product">
    <div class="product-info">
      <img class="img" src="../../../assets/png/empty.png" />
      <p><b>Name: </b>{{ product()!.name }}</p>
      <p><b>Price:</b> {{ product()!.price }} <b>$</b></p>
      <p><b>Description:</b> {{ product()!.description }}</p>
      <button
        class="button delete"
        *ngIf="this.user()!.isAdmin"
        (click)="deleteProduct()"
      >
        Delete
      </button>
      <button class="button" *ngIf="this.user()!.isAdmin" routerLink="edit">
        Edit
      </button>
    </div>
  </div>
</div>
